@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-colour: rgb(0, 0, 0);
	--background-colour: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-colour: rgb(255, 255, 255);
		--background-colour: rgb(0, 0, 0);
	}
}

body {
	color: var(--text-colour);
	background-color: var(--background-colour);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
